<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Wedding Day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <ion-item>
            <ion-label stacked class="bold-label">Wedding Date:</ion-label>
            <ion-input required type="date" [(ngModel)]="weddingDay.WeddingDate"></ion-input>
        </ion-item>  
        <ion-item>
            <ion-label stacked class="bold-label">Bride Name:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.BrideName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="bold-label">Groom Name:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.GroomName"></ion-input>
        </ion-item>      
        <ion-item>
            <ion-label stacked class="bold-label">Est. Number of Guests:</ion-label>
            <ion-input required type="number" [(ngModel)]="weddingDay.EstimatedNoOfGuests"></ion-input>
        </ion-item>   
        <ion-item>
            <ion-label stacked class="bold-label">Wedding Invites Sent Out:</ion-label>
            <ion-checkbox [(ngModel)]="weddingDay.WeddingInvitesSentOut"  disabled="true"></ion-checkbox>
        </ion-item>   
    </ion-list>
    <ion-button expand="full" (click)="saveWeddingDay()">Save</ion-button>
</ion-content>
