<ion-header>
  <ion-toolbar>
    <ion-title>Wedding Party Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-label stacked class="bold-label">Member Name:</ion-label>
      <ion-input required type="text" [(ngModel)]="weddingPartyPerson.Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="bold-label">Email:</ion-label>
      <ion-input required type="text" [(ngModel)]="weddingPartyPerson.Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="bold-label">Phone No.:</ion-label>
      <ion-input required type="text" [(ngModel)]="weddingPartyPerson.PhoneNo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="bold-label">Dinner Choice:</ion-label>
      <ion-input required type="text" [(ngModel)]="weddingPartyPerson.DinnerChoice"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveWeddingPartyPerson()">Save</ion-button>
</ion-content>
