<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating class="bold-label">Email Address:</ion-label>
    <ion-input required type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating class="bold-label">Password:</ion-label>
    <ion-input required type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login(user)">Login</ion-button>
  <!--<button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()">Log in with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button> -->
  <ion-button expand="full" color = "light" (click)="register()">Sign Up</ion-button>
</ion-content>
