<ion-header>
  <ion-toolbar>
    <ion-title>Budgets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table class="columns">
    <tr>
      <td>
        <div id="est_cost_wedding_budget_percent_div"></div>
        <h2>{{TotalEstimatedCost}}</h2>
        <h2>{{EstimatedOverUnderBudget}}</h2>
      </td>
      <td>
        <div id="act_cost_wedding_budget_percent_div"></div>
        <h2>{{TotalActualCost}}</h2>
        <h2>{{ActualOverUnderBudget}}</h2>
      </td>
    </tr>
  </table>
  <br>
  <ion-item>
      <ion-label>Search Budgets</ion-label>
      <ion-select value="category" [(ngModel)]="searchCategory">
        <ion-select-option value="category">Category</ion-select-option>
        <ion-select-option value="subcategory">Subcategory</ion-select-option>
        <ion-select-option value="budgetName">Budget Name</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <br>
  <table>
    <tr>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Name</th>
      <th>Estimated Costs</th>
      <th>Actual Costs</th>
      <th>Deposit</th>
    </tr>
    <tr *ngFor="let item of budgets">
      <td button (click)="viewDetails(item)">
        {{item.payload.doc.data().Category}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().SubCategory}}
      </td> 
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().BudgetName}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().EstimatedCost}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().ActualCost}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().Deposit}}
      </td>
    </tr>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addItem()">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>    
  </table>
</ion-content>