<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>RSVP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Phone Number</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.PhoneNo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Address 1</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.Address1"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Address 2</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.Address2"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>City</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.AddressCity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>State</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.AddressState"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Zip Code</ion-label>
            <ion-input required type="text" [(ngModel)]="rsvp.AddressPostCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Dinner Choice</ion-label>
            <ion-input required type="number" [(ngModel)]="rsvp.DinnerChoice"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="saveRsvp()">Save</ion-button>
</ion-content>
