<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Best Day Ever</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of loginPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
            <ion-item>
              <ion-button (click)="Logout()">Logout</ion-button>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list text-wrap>
          Home
          <ion-menu-toggle auto-hide="false" *ngFor="let p of homePages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <ion-list text-wrap>
          Wedding Details
          <ion-menu-toggle auto-hide="false" *ngFor="let p of weddingDetailsPages ">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of guestListPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>          
        </ion-list>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of registryPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <ion-list text-wrap>
          Planning Tools
          <ion-menu-toggle auto-hide="false" *ngFor="let p of planningToolsPages ">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <ion-list text-wrap>
            Website Setup
          <ion-menu-toggle auto-hide="false" *ngFor="let p of websiteSetupPages ">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <ion-list text-wrap>
          Venue Setup
          <ion-menu-toggle auto-hide="false" *ngFor="let p of venueSetupPages ">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
        </ion-list>
        <!--<ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>  
          </ion-menu-toggle>
          <ion-item>
            <ion-button (click)="Logout()">Logout</ion-button>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
