<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/members/weddingPartyList"></ion-back-button>
      </ion-buttons>
    <ion-title>Wedding Party</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <ion-item>
            <ion-label stacked class="bold-label">Name:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingParty.Name"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="saveWeddingParty()">Save</ion-button>
    <ion-button expand="full" (click)="goToPartyMembers()">Party Members</ion-button>
</ion-content>
