<ion-header>
  <ion-toolbar>
    <ion-title>Select a Dinner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-container *ngIf="!dinners || dinners.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let item of dinners">
      <ion-button expand="full"> {{ item.Name }} </ion-button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
