<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/members/eventList"></ion-back-button>
      </ion-buttons>
    <ion-title>Event Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <h1>Event Details</h1>
        <ion-item>
            <ion-label stacked class="bold-label">Name of Event:</ion-label>
            <ion-input required type="text" [(ngModel)]="event.Subject"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked class="bold-label">Description:</ion-label>
            <ion-input required type="text" [(ngModel)]="event.Description"></ion-input>
        </ion-item>
        <h1>Date/Time</h1>
        <ion-item>
            <ion-label stacked class="bold-label">Start Date:</ion-label>
            <ion-input required type="date" [(ngModel)]="event.StartDate"></ion-input>
        </ion-item>
        <ion-item>
                <ion-label stacked class="bold-label">End Date:</ion-label>
                <ion-input required type="date" [(ngModel)]="event.EndDate"></ion-input>
            </ion-item>
        <ion-item>
            <ion-label stacked class="bold-label">Start Time:</ion-label>
            <ion-input required type="time" [(ngModel)]="event.StartEventTime"></ion-input>
        </ion-item>    
        <ion-item>
            <ion-label stacked class="bold-label">End Time:</ion-label>
            <ion-input required type="time" [(ngModel)]="event.EndEventTime"></ion-input>
        </ion-item>  
    </ion-list>
    <ion-button expand="full" (click)="saveEvent()">Save</ion-button>
    <ion-button expand="full" (click)="deleteEvent()">Delete</ion-button>
</ion-content>
